name: Build and Run C++

on:
  push:
    branches: [ "**" ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install g++
        run: sudo apt-get update && sudo apt-get install -y g++

      - name: Compile
        run: g++ main.cpp -o main

      - name: Run
        run: ./main
